
@{
    ViewData["Title"] = "Home Page";
}


<!doctype html>
<html lang="en">
<head>

</head>
  <body>
    <div>
        <h1 class="text-center mt-5">Welcome User Id @ViewBag.saveCookie</h1>
    </div>

  <div class="buttons mb-5">
      <form class="form" method="post" asp-action="Entry">
          <button class="btn btn-sm btn-dark" type="submit">Add Entry hour</button>
      </form>
      
  </div>

    <table class="table table-striped table-bordered table-hover text-center">
        <thead class="table table-dark">
            <tr>
                <td>Entry hour</td>
                <td>Departure hour</td>    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.hora</td>
                <td>@ViewBag.hourSalida</td>
            </tr>
        </tbody>
    </table>

    <div class="area"></div><nav class="main-menu nav">
            <ul>
                <li class="mt-5">
                    <a asp-controller="Employees" asp-action="Index">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Employee Details
                        </span>
                    </a>
                  
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Settings
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a asp-controller="Login" asp-action="Logout">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>

        
  </body>
</html>